{% extends 'adminbase.html' %}

{% block contents %}
<div>

        <center><p></p><h1>Vew Registered Users</h1>
                                        <table border="2px">
                                            <tr style="color: darkblue">
                                                <th>S.No</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>Status</th>
                                                <th>Activate</th>
                                            </tr>
                                            {% for i in objects %}
                                            <tr style="color: black">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{i.name}}</td>
                                                <td>{{i.email}}</td>
                                                <td>{{i.mobile}}</td>
                                                <td>{{i.status}}</td>
                                                {% if i.status == 'waiting' %}
                                                <td><a class="btn-link" href="{% url 'activatewaitedusers' i.id %}" style="color:DARKBLUE">Activate</a></td>
                                                {% else %}
                                                <td> Activated</td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </table>
        </center>
</div>
    {% endblock %}